<h1>Sales Team Members</h1>


<!-- NGfOR-->
<DIV *ngFor="let member of salesTeamMember">

    <h3>{{member.firstName}} {{member.lastName}}</h3>
    <p>{{member.email}}</p>

    <p>{{member.quota}}</p>
    <hr>

</DIV>









